/*

This file is part of yk38spage.github.io.

yk38spage.github.io is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

yk38spage.github.io is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with yk38spage.github.io. If not, see <https://www.gnu.org/licenses/>.

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    color: var(--text);
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* @media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg-dark);
    }
} */

a {
    color: var(--text);
    opacity: 0.8;
    transition: 0.2s;
}

a:hover {
    opacity: 1;
}


header.header-container {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-normal);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px 15px;
    z-index: 9990;
}

.header a.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: var(--text);
    text-decoration: none;
    transition: 0.2s;
}

.header nav a {
    text-decoration: none;
    font-size: 18px;
}


.notice-box {
    background-color: var(--notice-info);
    color: var(--notice-info-text);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.notice-box a {
    color: var(--notice-info-text);
}

.notice-box-content {
    display: flex;
    gap: 10px;
    align-items: center;
}

.notice-box.success {
    background-color: var(--notice-success);
    color: var(--notice-success-text);
}

.notice-box.warning {
    background-color: var(--notice-warning);
    color: var(--notice-warning-text);
}

.notice-box.error {
    background-color: var(--notice-error);
    color: var(--notice-error-text);
}

.content {
    width: 100%;
    max-width: 1200px;
    margin: 80px auto 40px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

article,
section {
    width: 100%;
    /* padding: 10px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

article {
    /* padding: 10px; */
}

article h1 {
    font-size: 24px;
}

section {
    padding: 15px;
    background-color: var(--bg-normal);
    /* background-color: var(--bg-light); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--bg-normal);
}

.footer-main-container {
    width: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 10px;
    gap: 10px;
}

.footer .col {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer .col:last-child {
    width: fit-content !important;
    max-width: 33%;
}

.footer .col ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer .col ul.social-links {
    flex-direction: row;
}

.footer .col img {
    display: none;
    width: 100%;
    max-width: 300px;
}

@media (prefers-color-scheme: dark) {
    .footer .col img {
        display: block;
    }
}

.footer .col h4 {
    margin-bottom: 10px;
    font-size: 20px;
    position: relative;
}

.footer .col h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 60px;
    height: 2px;
    background-color: var(--btn-primary)

}

footer.footer-container hr {
    width: 100%;
    border: 0;
    height: 1px;
    background-color: var(--border);
}

footer.footer-container .copyright {
    text-align: center;
    color: var(--text-muted);
    padding: 10px;
}

@media screen and (max-width: 1000px) {
    .footer {
        flex-direction: column;
    }

    .footer .col {
        width: 100% !important;
        max-width: 100% !important;
    }
}



















input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="date"],
input[type="number"],
input[type="tel"],
select {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    max-width: 300px;
    height: 32px;
    background-color: var(--input-bg);
    border-radius: 16px;
    border: 1px solid var(--input-border);
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 14px;
    color: var(--input-text);
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
select {
    border-color: var(--input-border-highlight);
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.btn {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    width: fit-content;
    height: 32px;
    border-radius: 25px;
    border: 0;
    background-color: var(--btn-default);
    color: var(--btn-default-text);
    border: var(--btn-default-border);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
    gap: 5px;
}

.btn-circle {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    color: var(--btn-default-text);
    border: var(--btn-circle-not-active-border);
    text-decoration: none;
    transition: 0.2s;
    font-size: 16px;
}

.btn-primary {
    background-color: var(--btn-primary) !important;
    color: var(--btn-primary-text) !important;
    border: var(--btn-primary-border) !important;
}

.btn-primary:hover,
.btn-primary.active {
    background-color: var(--btn-active-primary) !important;
    color: var(--btn-active-primary-text) !important;
    border: var(--btn-active-primary-border) !important;
}

.btn-secondary {
    background-color: var(--btn-secondary) !important;
    color: var(--btn-secondary-text) !important;
    border: var(--btn-secondary-border) !important;
}

.btn-secondary:hover,
.btn-secondary.active {
    background-color: var(--btn-active-secondary) !important;
    color: var(--btn-active-secondary-text) !important;
    border: var(--btn-active-secondary-border) !important;
}

.btn:disabled,
.btn.disabled,
.btn-circle:disabled,
.btn-circle.disabled {
    cursor: not-allowed;
    opacity: var(--btn-disabled-opacity);
}

.btn.loading,
.btn-circle.loading {
    cursor: wait !important;
    /* pointer-events: none; */
    opacity: var(--btn-disabled-opacity);
}